{
  "token": "",
  "prefix": "",
  "notifyTime": 3,
  "msgLogger": 0,
  "notifyType": "embed",
  "sniperToken": {
    "enabled": false,
    "token": ""
  },
  "activity": {
    "enabled": false,
    "name": "",
    "state": "",
    "details": "",
    "type": 0,
    "url": "https://twitch.tv/@@@@@@"
  }
}
